{% extends "main_base.html" %}

{% load staticfiles %}

{% block styles %}
<link rel='stylesheet' type='text/css'
	  href="{% static 'css/user_profile.css' %}" />
{% endblock %}


{% block header %}
Dane ucznia
{% endblock %}

{% block content %}
<section>
	<h1>
	{{ user.username }}
	</h1>
	<p>
		<span class="field-label">Imię:</span> 
		{% if user.first_name %}
			{{ user.first_name }}
		{% else %}
			[brak]
		{% endif %}
	</p>
	<p>
		<span class="field-label">Nazwisko:</span> 
		{% if user.last_name %}
			{{ user.last_name }}
		{% else %}
			[brak]
		{% endif %}
	</p>
	<p>
		<span class="field-label">Adres Email:</span> 
		{% if user.email %}
			{{ user.email }}
		{% else %}
			[brak]
		{% endif %}
	</p>
	<p>
		<span class="field-label">Wynik:</span> {{ user.student.rating }}
	</p>
</section>
{% endblock %}
