body {
	background-attachment: fixed;
	font-weight: normal;
	font-family: "Century Gothic";
	margin: 0;
}

.global--skin {
	background-color: #020;
	color: #FFF;
}

header h1 {
	margin: 0;
}

h1, h2, h3 {
	font-weight: normal;
}

a {
	color: inherit;
}

.visually-hidden {
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
}

.red {
	color: #E00;
}

.blue {
	color: #00E;
}

.green {
	color: #0A0;
}
