.user-details {
	
}

.user-details .field-label {
	display: inline-block;
	width: 100px;
}

.search-input-box {
	width: 300px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}

.search-input-box input {
	box-sizing: border-box;
	width: 300px;
	height: 40px;
	font-size: 0.8em;
	padding: 5px;
	padding-left: 40px;
	outline-color: #0B0;
	font-family: inherit;
}

.search-input-box .icon-box {
	display: table;
	position: absolute;
	height: 40px;
	width: 40px;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.search-input-box .icon-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.search-input-box .icon-wrapper img {
	height: 25px;
	width: auto;
	display: block;
	margin: auto;
}
