.top-nav-box {
	display: block;
}

.top-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.top-nav > li {
	display: block;
	min-width: 120px;
	flex: 0 1 120px;
	font-size: 17px;
	border-right: 1px solid #040;
}

.top-nav > li:first-child {
	border-left: 1px solid #040;
}

.top-nav--skin {
	background-color: #070;
}

.top-nav > li > a {
	display: block;
	box-sizing: border-box;
	padding: 10px 25px;
	min-width: 120px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease-out;
}

.top-nav--skin > li > a {
	color: #EEE;
}

.top-nav--skin > li > a:hover {
	color: #070;
	background-color: #EEE;
}

.icon-image {
	height: 40px;
	display: block;
	margin: 0 auto;
}

.icon-image path,
.icon-image circle {
	transition: all 0.2s ease-out;
}

.top-nav--skin .icon-image path,
.top-nav--skin .icon-image circle {
	stroke: #EEE; 
}

.top-nav--skin a:hover .icon-image path,
.top-nav--skin a:hover .icon-image circle {
	stroke: #070;
}

.top-nav--skin a:hover .settings-icon path {
	fill: #070;
}

.logout-icon {
	stroke-width: 7px; 
	stroke-linecap: round; 
	fill: none;
}

.settings-icon circle {
	stroke-width: 20px;
	fill: none;
}
.settings-icon path{
	stroke-width: 5px;
	stroke-linejoin: round;
	fill: #EEE;
}
