{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
{% endblock %}

{% block bodyclass %}{{ block.super }} 
app-examination model-exam change-form
{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
	<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
	&rsaquo; <a href="{% url 'admin:app_list' app_label='app' %}">App</a>
	&rsaquo; {% if has_change_permission %}
	<a href="{% url 'admin:app_exam_changelist' %}">Exams</a>
	{% else %}
	Exams
	{% endif %}
	&rsaquo; {% trans 'Upload' %} Exam
	</div>
{% endblock %}


{% block title %}
{{ title }}
{% endblock %}

{% block content %}{{ block.super }}
<div id="content-main">
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ form.non_field_errors }}
{% endif %}
<form enctype="multipart/form-data" action method="post" id="exam_form" novalidate>
	{% csrf_token %}
	<fieldset class="module aligned">
		{% for field in form %}
		<div class="form-row{% if field.errors %} errors{% endif %}{% if field.name %} field-{{ field.name }}{% endif %}">
			<div>
				{% if not field.is_readonly %}{{ field.errors }}{% endif %}
				{% if field.is_checkbox %}
					{{ field.field }}{{ field.label_tag }}
				{% else %}
					{{ field.label_tag }}
					{% if field.is_readonly %}
						<p>{{ field }}</p>
					{% else %}
						{{ field }}
					{% endif %}
				{% endif %}
				{% if field.help_text %}
					<p class="help">{{ field.help_text|safe }}</p>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</fieldset>

	<div class="submit-row">
		<input type="submit" value="Submit" class="default" name="_save">
		<input type="submit" value="Submit and upload another" name="_addanother">
	</div>

</form>
</div>
{% endblock content %}
