{% extends "main_screen/main_screen_base.html" %}

{% load staticfiles %}

{% block includes %}
<link rel='stylesheet' type='text/css' href="{% static 'css/default/form_style.css' %}" />
{% endblock %}

{% block header %}
	Rozpocznij test #{{ exam.id }}
{% endblock %}

{% block content %}
<section class="section section--skin">
	<h1>
	Wprowadź kod dla egzaminu: {{ exam.name }}
	</h1>
	<form action method="POST">
	{% csrf_token %}
	{% for field in form %}
	<div class="field-wrapper">
		{{ field.label_tag }}
		{{ field.errors }}
		{{ field }}
	</div>
	{% endfor %}
	<input class='button button--skin' type='submit' value='Potwierdź' />
	</form>
</section>
{% endblock %}