{% extends "main_screen\main_screen_base.html" %}

{% load staticfiles %}

{% block header %}
	Lista Testów
{% endblock %}

{% block content %}
	<section class="section section--skin">
	<h1>
	Nadchodzące testy
	</h1>
	{% for exam in exams %}
		<p>
		<a href="{% url 'exam:show' exam.id %}">
		{{ exam.name }} &ndash; {{ exam.closest_due_date|date:"d E Y" }}
		</a>
		</p>
	{% endfor %}
	</section>
	<section class="section section--skin">
	<h2>
	Ubiegłe testy
	</h2>
	{% for exam in old_exams %}
		<p>
		{{ exam.name }} &ndash; {{ exam.closest_due_date|date:"d E Y" }}
		</p>
	{% endfor %}
	</section>
{% endblock %}