<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
	<meta charset="utf-8" />
	<link rel='stylesheet' type='text/css' href="{% static 'css/default/generic.css' %}" />
	<link rel='stylesheet' type='text/css' href="{% static 'css/default/top_nav.css' %}" />
	<link rel='stylesheet' type='text/css' href="{% static 'css/default/main_screen.css' %}" />
	{% block includes %}
	{% endblock %}
	<title>{% block window_title %}lo01testy{% endblock %}</title>
</head>
<body class='global--skin'>
	<nav class="top-nav-box">
		<ul class="top-nav top-nav--skin">
		<li>
		<a href="{% url 'accounts:user_profile' %}">Home</a>
		</li>
		<li>
		<a href="{% url 'exam:list' %}">Testy</a>
		</li>
		<li>
		<a href="#">
			<svg class="icon-image icon-image--skin settings-icon" viewBox="-55 -55 110 110">
				<circle r="23" cx="0" cy="0"/>
				<path d="M-10,-30 v-10 a40,40 0 0 1 20,0 v10 z" />
				<path d="M10,30 v10 a40,40 0 0 1 -20,0 v-10 z" />
				<g transform="rotate(60 0 0)">
				<path d="M-10,-30 v-10 a40,40 0 0 1 20,0 v10 z" />
				<path d="M10,30 v10 a40,40 0 0 1 -20,0 v-10 z" />
				</g>
				<g transform="rotate(120 0 0)">
				<path d="M-10,-30 v-10 a40,40 0 0 1 20,0 v10 z" />
				<path d="M10,30 v10 a40,40 0 0 1 -20,0 v-10 z" />
				</g>
			</svg>
		</a>
		</li>
		<li>
		<a href="{% url 'accounts:logout' %}">
			<svg class="icon-image icon-image--skin logout-icon" viewBox="-50,-50 100,100">
				<path d="M 20,15 a 30,30 0 1 1 0,-30" /> 
				<path d="M 0,0 h 35" />
			</svg>
		</a>
		</li>
		</ul>
	</nav>
	<header class="top-title-bar top-title-bar--skin">
		<h1>
		{% block header %}
		{% endblock %}
		</h1>
	</header>
	<div class="main-container main-container--skin">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>