<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
	<meta charset="utf-8" />
	<link rel='stylesheet' type='text/css' href="{% static 'css/default/register_form.css' %}" />
	<link rel='stylesheet' type='text/css' href="{% static 'css/default/generic.css' %}" />
</head>
<body class='global--skin'>
<section class="content-box content-box--skin">
	<h1 class="form-header form-header--skin">
	Logowanie
	</h1>
	{% if next %}
		<form class="login__form" action="{% url 'accounts:login' %}?next={{ next }}" method='POST'>
	{% else %}
		<form class="login__form" action="{% url 'accounts:login' %}" method='POST'>
	{% endif %}
	{% csrf_token %}
	<div class='form-box'>
	{% for field in form %}
	<div class="field-wrapper">
		{{ field.label_tag }}
		{{ field.errors }}
		{{ field }}
	</div>
	{% endfor %}
	</div>
	<div class="submit-wrapper submit-wrapper--skin">
		<input type="submit" value="Zaloguj" />
	</div>
	</form>
	<a class="link-button link-button--skin" href="{% url 'accounts:registration' %}">
		Utwórz nowe konto
	</a>
</section>
</body>
</html>