<!DOCTYPE html>

<html>
<head>
	<link rel='stylesheet' type='text/css' href='/static/css/default/register_form.css' />
	<link rel='stylesheet' type='text/css' href='/static/css/default/generic.css' />
</head>
<body>
<div class="content-box content-box--skin">
	<header class="form-header form-header--skin">
	Rejestracja
	</header>
	<form class="register__form" action="/register/" method='POST'>
	{% csrf_token %}
	<div class='form-box'>
	{% for field in form %}
	<div class="field-wrapper">
		{{ field.label_tag }}
		{{ field.errors }}
		{{ field }}
	</div>
	{% endfor %}
	</div>
	<div class="submit-wrapper submit-wrapper--skin">
		<input type="submit" value="Utwórz konto" />
	</div>
	</form>
	<a class="link-button link-button--skin" href="{% url 'login' %}">Powrót</a>
</div>
</body>
</html>