@import '_main_base.css';

.field-wrapper {
	display: block;
	width: auto;
	margin: 0px 0px;
	padding: 10px 0;
}

.field-wrapper > input {
	border: solid 1px #BBB;
	font-family: inherit;
	padding: 5px;
}

.field-wrapper > input:focus {
	outline-color: #0A0;
}

.field-wrapper > .errorlist {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
}