<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
	<meta charset="utf-8" />
	<link rel='stylesheet' type='text/css'
		  href="{% static 'css/top_nav.css' %}" />
	<!-- <link rel='stylesheet' type='text/css'
		  href="{% static 'css/_main_base.css' %}" /> -->
		{% block styles %}
		{% endblock %}
	<title>{% block title %}lo01testy{% endblock %}</title>
</head>
<body>
	{% include 'top_nav.html' %}
	<header class="top-title">
		<h1>
		{% block header %}
		{% endblock %}
		</h1>
	</header>
	<div class="content">
		{% block content %}
		{% endblock %}
	</div>
	{% block scripts %}
	{% endblock %}
</body>
</html>